body {
  background: #e3e2de;
}

.back-btn {
  text-decoration: none;
  color: #0c3696;
}

.back-btn:hover {
  color: red;
}

.fa {
  margin: 0 5px 0 0;
}

.folder-list {
  list-style-type: none;
}

.container {
  background: #fff;
  outline: 1px solid #000;
  width: 700px;
  margin: 10% 0 0 25%;
  padding: 10px;
}

.container__heading {
  text-align: center;
}
